* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.row {
  width: 100%;
}
h1 {
  text-align: center;
  margin-bottom: 40px;
  color: blueviolet;
  font-style: italic;
  font-weight: bolder;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div {
  background-color: gainsboro;
  margin: 6px;
}
@media (min-width: 992px) {
  .col-md-4 {
    float: left;
    border: 1px solid black;
  }
  .col-md-4 {
    width: 32%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6 {
    float: left;
    border: 1px solid black;
  }
  .col-sm-6 {
    width: 45%;
  }
}
@media (max-width: 767px) {
  .col-xs-12 {
    float: left;
    border: 1px solid black;
  }
  .col-xs-12 {
    width: 100%;
  }
}
h2 {
  width: 110px;
  border: 1px solid black;
  padding-left: 10px;
  margin-top: 0px;
  color: white;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#chicken {
  background-color: rgb(116, 190, 233);
}
#beef {
  background-color: rgb(185, 223, 160);
  color: black;
}
#sushi {
  background-color: rgb(255, 148, 223);
}
p {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 50px;
  color: blue;
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
